body {
  font-family: Arial, sans-serif;
  background-color: #c5e3ff;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.container {
  width: 100%;
  max-width: 900px; /* Adjust the maximum width as needed */
  margin: 20px auto;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 20px;
  text-align: center;
}

h1 {
  color: #333;
}

h2 {
  color: #666;
  margin-top: 0;
}

img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
  border-radius: 5px;
}

p {
  color: #777;
}

.recipe-card {
  width: calc(33.33% - 20px); /* 3 cards per row with some margin between them */
  margin: 10px;
  display: inline-block;
  vertical-align: top;
  text-align: left;
  padding: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  background-color: #f7f7f7;
}

/* Style the specific nutrition information */
.recipe-card p {
  margin: 5px 0;
  font-weight: bold;
}

.recipe-card p:nth-child(odd) {
  color: #ff6f00; /* Orange color for Calories and Fat */
}

.recipe-card p:nth-child(even) {
  color: #00bfa5; /* Teal color for Protein and Carbs */
}