body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .container {
    width: 400px;
    margin: 20px;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 20px;
    text-align: center;
  }
  
  h1 {
    color: #333;
  }
  
  h2 {
    color: #666;
    margin-top: 0;
  }
  
  img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
    border-radius: 5px;
  }
  
  p {
    color: #777;
  }
  
  .recipe-card {
    width: 45%;
    margin: 10px;
  }